<%- include("partials/adminHeader"); -%>
<div class="formatsetTest">
    <a href="/settest" style="color:burlywood;">Click Here to Create a Test</a><br><br>
    <a href="/userdata" style="color: burlywood;">ALL USER Data </a><br><br>
    <a href="/adddata" style="color: burlywood;">ADD PARAGRAPH</a><br><br>
    <a href="/user-track" style="color: burlywood;">USER tracking</a><br><br>
    <a href="/date-track" style="color: burlywood;">DATE tracking</a><br><br>

</div>
<%- include("partials/footer"); -%>