<%- include("partials/header"); -%>


<div class ="para-align" >
    <h3 class="align-center">Hey!  Welcome to TYPING TEST</h3><br>
   <p class="align-center">This application was developed for NICNET so users can give typing test in 2 language i.e. English and Hindi .It can be accessed by anyone .It stores record of all their typing test and saves its data so they may recieve reports and can improve typing test ability .</p><br><br>

   <h4 class="align-center">LOGIN SIGNUP to give Typing Test</h4>
   <br><br>
   <div class="align-center">

    <div class="enclose-btn">
        <a href="/authenticate">AUTHENTICATE</a>
    </div>
   </div>
</div>

<%- include("partials/footer"); -%>